<div>
  <img src="{{response.company_logo}}" class="w-25 h-25"</img>
</div>
<h1>
   {{response.company}}
</h1>
<div>
  Title: {{response.title}}
</div>
<div>
  Created At: {{response.created_at}}
</div>
<div>
  Location: {{response.location}}
</div>
<div style="border-top: 1px solid black; padding-top: 2px;">
  Description: {{{response.description}}}
</div>
<div style="border-top: 1px solid black; padding-top: 2px;">
  How To Apply: {{{response.how_to_apply}}}
</div>
